<!--%Tag(FULL)%-->
<launch>
	
	<param name="music_dir" value="/home/haikalpribadi/Workspace/ROS/radiophonic/music"/>
	
	<node pkg="audiogesture" type="music_extractor" name="MusicFeatureExtractor" output="screen"/>
	<node pkg="audiogesture" type="sample_listener" name="SampleListener" output="screen"/>
	
</launch>
<!--%EndTag(FULL)%-->
